FLASK_ENV=development
SECRET_KEY=troque-esta-chave
DATABASE_URL=sqlite:///instance/flip.db
HOST=127.0.0.1
PORT=5075

# Produção (Render + Supabase)
# DATABASE_URL=postgresql://usuario:senha@host:5432/postgres?sslmode=require
# HOST=0.0.0.0
# PORT=10000
